{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자소설 닷컴</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
  </head>
  <body>
    <div class="make-jss">
      <a href="{% url 'create' %}">
        <div class="plus_btn">
          +
        </div>
      </a>
      <p>자기소개서 작성</p>
    </div>

    <div class="all-jss">
      <p>자기소개서 제목</p>
      <p>자기소개서 내용</p>
      <p>날짜</p>
    </div>
    <div class="all-jss">
      <p>자기소개서 제목</p>
      <p>자기소개서 내용</p>
      <p>날짜</p>
    </div>
    <div class="all-jss">
      <p>자기소개서 제목</p>
      <p>자기소개서 내용</p>
      <p>날짜</p>
    </div>
    <!--탬플릿 태그를 사용해서 모든 데이터를 가져오기 - views.py에서 가져온 함수 -all_jss -->
    {% for jss in all_jss %}
    <!--무엇을 넣을 것인가-->
    {{jss.title}}
    {{jss.content}}
    {{jss.updated_at}}
    {% endfor %}
  </body>
</html>
